<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tshiamo's SBA 318 - Girlies Essentials</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                        <h2 class="text-center">Girlies Essentials</h2>
                    </div>
                    <div class="card-body">
                        <form id="searchForm">
                            <div class="form-group">
                                <label for="searchTerm">Search:</label>
                                <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Enter lipstick, mascara, or scrunchie">
                            </div>
                            <div class="form-group">
                                <label for="colorOrVolume">Color/Volume:</label>
                                <input type="text" class="form-control" id="colorOrVolume" name="colorOrVolume" placeholder="Enter color or volume">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="server.js"></script>
</body>
</html>